
@{
    ViewBag.Title = "Index";
}

<h2>Home</h2>
@if(Request.IsAuthenticated)
{
    <h2>Logged in as @User.Identity.Name</h2>
    <div><a href="~/Home/Logout">Logout</a></div>
    <dl>
        @foreach(var claim in ((System.Security.Claims.ClaimsPrincipal)User).Claims)
        {
            <dt>@claim.Type</dt>
            <dd>@claim.Value</dd>
        }
    </dl>
    
    <form>
        @*@Html.AntiForgeryToken()*@
    </form>
}
else
{
    <h2>Not logged in</h2>
    <div><a href="~/Home/Login">Login</a></div>
}

